# **Conceitos introdutórios e Exercícios iniciais de Python**
**Objetivo**

Este notebook apresenta explicações básicas de alguns dos conceitos fundamentais em Python, acompanhadas de exercícios introdutórios que cobrem tópicos como variáveis, operadores e lógica condicional. Foi desenvolvido como parte dos meus primeiros estudos na linguagem e tem o objetivo de consolidar o aprendizado.

Espero que este material possa ser útil para outros estudantes que também estejam começando a aprender Python e que sirva como um guia prático e didático para revisar conceitos essenciais.

## **Tabela verdade**

In [ ]:
# Tabela verdade
print(10 > 2 and 4 < 6)  #Utilizando o operador AND, o resultado será "verdadeiro" apenas quando ambas as condições forem verdadeiras ao mesmo tempo. Caso qualquer uma das condições seja falsa, o resultado será "falso".
print(10 > 2 and 4 > 6)
print(10 < 2 and 4 < 6)
print(10 < 2 and 4 > 6)

True
False
False
False

In [ ]:
# Tabela verdade
print(10 > 2 or 4 < 6) #Utilizando o operador OR, o resultado será "verdadeiro" se pelo menos uma das condições for verdadeira. O resultado será "falso" apenas quando todas as condições forem falsas.
print(10 > 2 or 4 > 6)
print(10 < 2 or 4 < 6)
print(10 < 2 or 4 > 6)

True
True
True
False

In [ ]:
# Tabela verdade
print(not 10 > 2) #O operador NOT inverte o valor lógico de uma afirmação. Ou seja, uma condição verdadeira se torna falsa, e uma condição falsa se torna verdadeira.
print(not 10 < 2)

False
True

## **Visualização de varízavéis e textos**

In [ ]:
print('Conhecendo a função print')
x = 8
print(x)

Conhecendo a função print
8

In [ ]:
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = 'ALINE'
print(nome)

ALINE

In [ ]:
# Concatenação
x = 27
print ("O valor de", x, 'é igual a minha idade')

In [ ]:
x = 2
print(x, 'é o valor da idade do meu sobrinho', x * 2, 'é o dobro da idade dele')

2 é o valor da idade do meu sobrinho 4 é o dobro da idade dele

In [ ]:
y = 20; z = 30 - y
print( 'valor da varíaveis', y, 'e' , z)

valor da varíaveis 20 e 10

# **Type**

In [ ]:
x = 10
print(type(x))

nome = 'aline'
print(type(nome))

y = '10.0'
print(type(y))
num_convert = float(y)
print(type(num_convert))
print (y)

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
10.0

# **Input**

* Armazenar a informação digitada pelo usuário em uma variavél
* O dado armazenado sempre será um texto

In [ ]:
idade = input ('Sua idade:' ) # o comando input é utilizado para ler dados fornecidos pelo usuário durante a execução do programa
print(idade)

Sua idade:27
27

In [ ]:
valor = float(input('Digite o valor do produto: '))  # Converter a entrada para um número
desconto = valor * 0.10  # Calcular o desconto
print('O valor do desconto é:', (desconto))  # Exibir o valor do desconto

Digite o valor do produto: 5
O valor do desconto é: 0.5

## **Condicional**

In [ ]:
# if / else

num1 = 5
num2 = 10
if num1 > num2:
 print(' o primeiro numero é o maior')

else:
 print('o segundo numero é o maior')

o segundo numero é o maior

In [ ]:
# if / elif / else

num1 = 5
num2 = 5
if num1 > num2:
 print(' o primeiro numero é o maior')

elif num1 < num2:
 print('o segundo numero é o maior')

else:
 print('os numeros são iguais')

**Condicional com operadores lógicos**

In [ ]:
num1 = 9
num2 = 3
num3 = 6
if num1 > num3 and num1 > num2:
  print ("o maior numero é o num1")
else:
  print ( "o maior numero pode ser o 3 ou o 2")

o maior numero é o num1

## **Listas, tuplas e dicionários**

In [ ]:
# Lista
lista = [1, 2, 3, 4, 5] # é possivél adicionar elemenstos append para adicionar e remove para retirar um elemento
print(lista)
lista.append(6)
print(lista)
print(lista[0])
lista.remove(2)
print(lista)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
1
[1, 3, 4, 5, 6]

In [ ]:
# Tuplas

tupla = (1, 2, 3, 4, 5) # não pode ser modificada
print(tupla)
print(tupla[0])

(1, 2, 3, 4, 5)
1

In [ ]:
# Dicíonarios
dicionario = {'nome': 'Aline', 'cidade': 'Tupã'} # diferentemente da lista você pode inserir diretamente a chave (índice)
print(dicionario['nome'])
dicionario['idade'] = 27 # para adicionar um elemento no dicionarío
print(dicionario['idade'])

Aline
27

## **Estruturas de repetição**

In [ ]:
# For
for teste in range(5): # Comando 'range' faz uma sequência numérica. Note que a contagem vai de 0 a 4, por que o Python usa um sistema de indexação baseado em zero
  print(teste)

In [ ]:
# For Range + Break
for teste in range(50):
  print(teste)
  if teste == 10:
    break

In [ ]:
# For simples
lista = [1, 2, 3, 4, 5]
for val in lista:
  print(val)

1
2
3
4
5

In [ ]:
# For + enumerate
lista = [1, 2, 3, 4, 5]
for i, valor in enumerate(lista):
  print(i, valor)

0 1
1 2
2 3
3 4
4 5

In [ ]:
# For com operadores compostos
lista = [1, 2, 3]
for val in lista:
  val += 2
  print(val)

3
4
5

In [ ]:
# While
n = 10 #Executa os comando enquanto uma condição for verdadeira
while n > 0:
  n -=1
  print(n)

In [ ]:
# While e else
n = -2
while n > 0:
  n -= 1
  print (n)

else:
  print( 'n < 0')

n < 0

# **Exercícios**

1. Tabela Verdade: Implemente os seguintes testes lógicos e explique os resultados:

print(15 > 5 and 7 < 10)
print(15 < 5 or 7 > 10)
print(not 15 > 5)

In [ ]:
print(15 > 5 and 7 < 10) # "verdadeira" pois com o and a afirmação é verdadeira somente quando as duas afirmações são verdades
print( 15 < 5 or 7 > 10) # 'falso' já que ambas as afirmações são falsas
print(not 15 > 5) # como o not inverte o resultado então nesse caso será falso

True
False
False

2. Função print e variáveis

* Crie uma variável chamada idade e atribua sua idade a ela. Exiba a frase: "Minha idade é [idade]."

* Declare duas variáveis a e b, atribua valores e mostre a soma delas com uma mensagem.

In [ ]:
indade = 27
print ('Minha idade é', indade)

Minha idade é 27

In [ ]:
a = 30; b = 20
print( " A soma de a + b é" , a + b)

 A soma de a + b é 50

3. Concatenando Strings
* Crie um programa que solicite o nome e a idade do usuário, e mostre: "Olá [nome], você tem [idade] anos."

In [ ]:

idade = input('Digite dua idade:')
nome = input('Digite seu nome:')
print('Olá', nome, 'você tem', idade, 'anos')

Digite dua idade:27
Digite seu nome:Aline
Olá Aline você tem 27 anos

4. Tipos de Dados

* Declare variáveis de tipos diferentes e use a função type para identificar os tipos.
Converta a string "20.5" para ponto flutuante e exiba o tipo após a conversão.

In [ ]:
idade = 27
num_convert = int(idade)
print(type(idade))

ponto = 20.5
num_convert = float(ponto)
print(type(ponto))

<class 'int'>
<class 'float'>

5. Entrada de Dados com input

* Solicite ao usuário que insira sua idade e exiba a mensagem: "Você informou que tem [idade] anos."
* Peça o preço de um produto, calcule e exiba um desconto de 15%.

In [ ]:
idade = input('Digite sua idade:')
print ('Você informou que tem' , idade, 'anos')

Digite sua idade:27
Você informou que tem 27 anos

In [ ]:
preço = 50
desconto = preço - preço* 0.15
print('O valor do produto é' , preço, 'mas com o desconto fica' , desconto)

O valor do produto é 50 mas com o desconto fica 42.5

6. Condicional Simples

* Compare dois números fornecidos pelo usuário e exiba qual é o maior, ou se são iguais.

In [ ]:
num1 = input('Digite o primeiro numero')
num2 = input('Digite o segundo numero')
if num1 > num2:
  print('O primeiro numero é o maior')
elif num1 < num2:
    print('O segundo numero é o maior')
else:
      print('Os numeros são iguais')

Digite o primeiro numero1
Digite o segundo numero2
O segundo numero é o maior

7. Condicional com Operadores Lógicos
* Peça ao usuário três números e identifique o maior deles usando operadores lógicos.

In [ ]:
num1 = input('Digite o pimeiro numero')
num2 = input('Digite o segundo numero')
num3 = input('Digite o terceiro numero')
if num1 > num2 and num1 > num3:
  print("O numero 1 é o maior")
elif num2 > num1 and num2 > num3:
  print('O numero 2 é o maior')
else:
  print("O numero 3 é o maior")

Digite o pimeiro numero4
Digite o segundo numero5
Digite o terceiro numero6
O numero 3 é o maior